/*
	Index Page
*/

body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*
	Home Page
*/

#main {
    flex: 1 0 auto;
}

#header {
	position: fixed;
  	width: 100%;
  	left: 0;
  	top: 0;
  	z-index: 10;
  	height: 65px;
}

#main {
	padding-top: 65px;
}

.page-footer ul li{
	clear: both;
}

.page-footer ul li i {
	font-size: 20px;
}

.input-field label {
	left: 0;
}

.input-field.col label {
	left: 0.75rem;
}

.page-footer {
	padding-top: 15px;
	padding-bottom: 15px;
}

.page-footer p {
	font-size: 16px;

}

/*
	Header
*/

.top-nav {
	height: 65px;
}

.top-nav .nav-wrapper .page-title { 
	font-size: 24px; 
}

.nav-wrapper .top-nav-actions a { 
	margin-right: 10px; 
}

.nav-wrapper .top-nav-actions a:last-child { 
	margin-right: 0px; 
}

.nav-wrapper .top-nav-actions i { 
	display: inline-block; 
}

.nav-wrapper ul li span {
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
}

.nav-wrapper ul li a {
	position: relative;
	font-size: 18px;
}

.top-nav .header-container { 
	padding-left: 28px; 
	padding-right: 25px; 
}


/*
	Common
*/

.content-header {
	margin-bottom: 15px;
}

.content-title { 
	font-size: 1.5rem; 
	margin-bottom: 2px;
}


/*
	Login/Register
*/

.card.login-content, .card.register-content {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 35px 55px 35px;
	overflow: visible;
}

.card.login-content i.prefix, .card.register-content i.prefix  {
	color: #555555;
}

body.login-content, body.register-content {
	padding-top: 140px;
}

body.login-content:before, body.register-content:before {
	height: 50%;
  	width: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
  	background: #00bcd4;
  	content: "";
  	z-index: 0;
}

.login-navigation , .register-navigation {
	text-align: center;
	color: #445544;
}

@media(max-width: 400px) {
	.card.login-content, .card.register-content {
		padding: 15px;
	}
}

#chat-form {
	position: relative;
}

#chat-form .input-field {
	margin-right: 50px;
}

#chat-form button {
	width: 42px;
	height: 42px;
	line-height: 42px;
	position: absolute;
	right: 0;
	bottom: 15px;
}

#chat-form button i {
	line-height: 42px;
	font-size: 1.2rem;
}

.chat-card .analytics {
	float:right;
	margin-top: 15px;
	font-size:18px;
}

.chat-card .collection-item .datetime {
	float: right;
}

@media(max-width: 600px) {
	.chat-card .analytics {
		float: none;
		display: block;
		margin-top: 0;
	}
	.chat-card .collection-item .datetime {
		float: none;
	}


}