<!DOCTYPE html>
<html ng-app="chatApp" material-nice-scroll>
  <head>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
      <!--Application CSS Files-->
      {% for cssFile in cssFiles %}
        <link rel="stylesheet" href="{{cssFile}}">
      {% endfor %}

  </head>

<body class="grey lighten-5 {% raw %} {{contentClass}} {% endraw %}">
  
    <div ui-view></div>

    <!--Embedding The User Object-->
    <script type="text/javascript">
        var user = {{ user | json | safe }};
    </script>
    
    <!--Application JavaScript Files-->
    {% for jsFile in jsFiles %}
        <script type="text/javascript" src="{{jsFile}}"></script>
    {% endfor %}

    {% if process.env.NODE_ENV === 'development' %}
    <!--Livereload script rendered -->
    <script type="text/javascript" src="http://{{request.hostname}}:35729/livereload.js"></script>
    {% endif %}

    <!--[if lt IE 9]>
    <section class="browsehappy jumbotron hide">
        <h1>Hello there!</h1>
        <p>You are using an old browser which we unfortunately do not support.</p>
        <p>Please <a href="http://browsehappy.com/">click here</a> to update your browser before using the website.</p>
        <p><a href="http://browsehappy.com" class="btn btn-primary btn-lg" role="button">Yes, upgrade my browser!</a></p>
    </section>
    <![endif]-->
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>